
input, select{
    font-family: "Source Sans Pro";
    font-size: 18px;
}

h3 {
    font-size: 24px;
    font-family: "Source Sans Pro";
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    margin-top: 20px;
}

.date-container {
    display: flex;
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    font-family: "Source Sans Pro";
    font-size: 28px;
}

    .date-container button {
        background-color: rgba(161, 160, 255, 0.331);
        border-radius: 5px;
        font-size: 20px;
        font-family: "Source Sans Pro";
    }

.input-container {
    visibility: hidden;
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px;
    margin: 15px;
    transition: all 0.5s ease;
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
    padding: 5px;
}

.arrow-container {
    border: 1px solid;
    border-radius: 4px;
    background-color: rgb(219, 218, 255);
    color: #000;
    padding: 10px 5px 10px 5px;
    cursor: default;
    display: inline-block;
    font-size: 18px;
    font-family: "Source Sans Pro";
}

.arrow {
    display: inline-block;
    font-size: 20px;
    font-family: "Source Sans Pro";
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.inputFood {
    display: block;
    padding: 5px;
    font-family: "Source Sans Pro";
    font-size: 20px;
}

.nutrients {
    display: block;
    margin: 0px;
    padding: 5px;
    font-family: "Source Sans Pro";
    font-size: 18px;
}

.inputNutrients {
    display: block;
    padding-bottom: 10px;
    font-family: "Source Sans Pro";
    font-size: 18px;
}

.addFoodBtn {
    border-radius: 5px;
    background-color: rgba(161, 160, 255, 0.331);
    padding: 5px;
    font-family: "Source Sans Pro";
    font-size: 18px;
}

.section {
    background-color: #f5f5f5;
    width: 80%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.section h3 {
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
}

.foodList {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.upper-part,
.lower-part {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
}

.item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Source Sans Pro";
    margin: 0px;
    padding: 0px;
}

.icons {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.edit-icon,
.delete-icon {
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
}

.list-item:hover .icons {
    display: block;
}

.foodList li {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.foodList li:last-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}