.button {
    width: max-content;
    padding: 5px;
    margin: 0px;
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.date-container {
    display: flex;
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.date-container button {
    width: 30px;
    height: 30px;
    text-align: center;
}

.input-container {
    visibility: hidden;
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px;
    margin: 0px;
    transition: all 0.5s ease;
}

.show {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
    padding: 5px;
}

.arrow {
    display: inline-block;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.inputFood {
    display: block;
    padding: 5px;
}

.nutrients {
    display: block;
    margin: 0px;
    padding: 5px;
}

.inputNutrients {
    display: block;
    padding-bottom: 10px;
}

.section {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.section h3 {
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
}

.foodList {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

input {
    border-radius: 5px;
}

.upper-part,
.lower-part {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
}

.item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.icons {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.edit-icon,
.delete-icon {
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
}

.list-item:hover .icons {
    display: block;
}

.foodList li {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.foodList li:last-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}