header {
    text-align: center;
    font-family: "Arial";
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Arial";
    margin-top: 20px;
}

.day-selector {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
    font-family: "Arial";
}

.daySwitcherButton {
    border-radius: 5px;
    background-color: rgba(161, 160, 255, 0.331);
    padding: 5px;
    font-family: "Arial";
}

.input-container {
    display: none;
    padding: 5px;
    margin-top: 10px;
}

.show {
    display: block !important;
}

.addFoodBtn {
    border-radius: 5px;
    background-color: rgba(161, 160, 255, 0.331);
    padding: 5px;
    font-family: "Arial";
}

.section {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section h3 {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 3px;
}

.foodList {
    list-style: none;
    padding: 0;
}

.foodList li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.foodList li:last-child {
    border-bottom: none;
}