html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Arial;
}

.button {
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(161, 160, 255, 0.331);
  padding: 5px ;
}