<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthKeeper</title>
    <link rel="stylesheet" href="~/css/navbar.css"/>
    <script src="~/js/navbar.js" defer></script>

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar__logo">
                <a href="">HealthKeeper</a>
            </div>
            <ul class="navbar__menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Statistic</a></li>
                <li><a href="#">Calender</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Food Journal</a></li>
            </ul>
            <ul class="navbar__icons">
                <li><img class="imgsize" href="#" src="~/images/fi-rr-user.png" /></li>
            </ul>
            <a href="#" class="navbar__toggleBtn">
                <img class="imgsize" href="#" src="~/images/material-symbols_menu.png" ></img>
            </a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div style="text-align: center;">
            &copy; 2023 - HealthKeeper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
