<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthKeeper</title>
    <link rel="stylesheet" href="~/css/navbar.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar__logo">
                <a asp-controller="Home">HealthKeeper</a>
            </div>
            <ul class="navbar__menu">
                <li><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="BmiHelper" asp-action="Index">Statistic</a></li>
                <li><a asp-controller="Calender" asp-action="Index">Calender</a></li>
                <li><a asp-controller="Food" asp-action="Index">Food Journal</a></li>
            </ul>
            <ul class="navbar__icons">
                <li><a asp-controller="Account" asp-action="Login"><img class="imgsize" src="~/images/fi-rr-user.png" /></a></li>
            </ul>
            <a href="#" class="navbar__toggleBtn">
                <img class="imgsize" href="#" src="~/images/material-symbols_menu.png"></img>
            </a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div style="text-align: center;">
            &copy; 2024 - HealthKeeper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/navbar.js" defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
