@{
    ViewData["Title"] = "Register";
}
@model ErrorViewModel

<link rel="stylesheet" href="~/css/login.css"/>

<div class="divlogin">
    <div class="login-container">
        <form class="login-form" asp-controller="Account" asp-action="Register">
            @Html.AntiForgeryToken()
            <h2 class="center">Registrieren</h2>
            @{
                if (Model.ShowError)
                {
                    <h2>@Model.Error</h2>
                }
            }
            <div class="input-grouplogin">
                <label class="labellogin" for="username">Username:</label>
                <input class="inputlogin" type="text" id="username" name="username" required>
                <label class="labellogin" for="email">Email:</label>
                <input class="inputlogin" type="text" id="email" name="email" required>
            </div>
            <div class="input-grouplogin">
                <label class="labellogin" for="password">Password:</label>
                <input class="inputlogin" type="password" id="password" name="password" required>
                <label class="labellogin" for="passwordconfirm">Password wiederholen:</label>
                <input class="inputlogin" type="password" name="passwordconfirm" required>
            </div>
            <input class="buttonlogin" type="submit" value="Registrieren"/>
        </form>
    </div>
</div>
