<script src="HealthKeeper\wwwroot\js\statistics.js"></script>
<link rel="stylesheet" href="~/css/statistics.css"/>

@model ErrorViewModel

<div class="grid-container">

    <div class="left">
        <div class="bmicalc">
            <form method="post">
                <h1 class="answer mnone">Eintrag erstellen:</h1>
                <label class="bmilabel">Größe (cm):</label><br>
                <input class="bmiinput" type="number" name="Height"><br>
                <label class="bmilabel">Gewicht (kg):</label><br>
                <input class="bmiinput" type="number" name="Weight"><br><br>
                <input type="submit" class="bmibutton bw" value="Eintrag hinzufügen" />
            </form>
        </div>
        @{
            if (Model.ShowError)
            {
                <h2>@Model.Error</h2>
            }
        }
    </div>
    <div class="right">
        <canvas id="graph"></canvas>
    </div>
</div>
