<link rel="stylesheet" href="~/css/foodJournal.css"/>

<header>
    <h1>Mein Food Journal</h1>
</header>
<div class="flex-container">
    <div class="day-selector">
        <button class="daySwitcherButton" onclick="showPreviousDay()">Vorheriger Tag</button>
        <span id="currentDate"></span>
        <button class="daySwitcherButton" onclick="showNextDay()">Nächster Tag</button>
    </div>
    <div id="breakfast" class="section">
        <h2>Frühstück - {kcal, Macronährstoffe ...}</h2>
        <ul class="foodList"  id="breakfastList">
            <li>Müsli mit Obst</li>
            <li>Orangensaft</li>
            <!-- Hier kommen die Frühstücksdetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput()">Frühstück Hinzufügen</button>

    </div>

    <div id="inputContainer" class="input-container">
        <input type="text" id="breakfastInput" placeholder="Frühstück eingeben...">
        <button onclick="addBreakfast()">Hinzufügen</button>
    </div>

    <div id="lunch" class="section">
        <h2>Mittagessen - {kcal, Macronährstoffe ...}</h2>
        <ul class="foodList"  id="lunchList">
            <li>Hühnchen mit Reis</li>
            <!-- Hier kommen die Mittagessendetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput()">Mittagessen Hinzufügen</button>
    </div>
    <div id="dinner" class="section">
        <h2>Abendessen - {kcal, Macronährstoffe ...}</h2>
        <ul class="foodList"  id="dinnerList">
            <li>Spaghetti Bolognese</li>
            <!-- Hier kommen die Abendessendetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput()">Abendessen Hinzufügen</button>
    </div>
    <div id="snacks" class="section">
        <h2>Snacks - {kcal, Macronährstoffe ...}</h2>
        <ul class="foodList"  id="snackList">
            <li>Erdnüsse</li>
            <!-- Hier kommen die Details zu den Snacks für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput()">Snacks Hinzufügen</button>
    </div>
</div>

<script src="HealthKeeper/wwwroot/js/foodJournal.js"></script>