@{
    ViewData["Title"] = "Food Journal";
}
<link rel="stylesheet" href="~/css/foodJournal.css"/>
<script src="~/js/foodJournal.js" defer></script>

<body>
    <div class="flex-container">
        <h2>Mein Food Journal</h2>
        <div class="date-container">
            <button class="button" onclick="showPreviousDay()">&#8249;</button>
            <span id="currentDate"></span>
            <button class="button" onclick="showNextDay()">&#8250;</button>
        </div>

        <div id="test" class="section">
            <div class="button" onclick="toggleInput()">
                <span class="arrow" id="addFoodButtonArrow"> &gt; </span>
                <span>Nahrungsmittel hinzufügen</span>
            </div>
            <div id="foodInputContainer" class="input-container">
                <div class="inputFood">
                    <label for="foodName">Wie lautet der Name des Essens?</label>
                    <input type="text" id="foodName">
                </div>
                <div class="inputFood">
                    <label for="mealType">Um Welche Mahlzeit handelt es sich?</label>
                    <select id="mealType">
                        <option value="Frühstück">Frühstück</option>
                        <option value="Mittagessen">Mittagessen</option>
                        <option value="Abendessen">Abendessen</option>
                        <option value="Snacks">Snacks</option>
                    </select>
                </div>
                <div class="inputFood">
                    <label for="foodPortionSize">Wie viel haben Sie gegessen (1 Portion entspricht 100g/100ml)?</label>
                    <input type="text" id="foodPortionSize" placeholder="Portionsgröße">
                </div>
                <div class="inputNutrients">
                    <p class="nutrients">Nährwerte vom Frühstücks pro 100g/100ml:</p>
                    <label for="foodKcal">Kcal:</label>
                    <input type="text" id="foodKcal" placeholder="Kcal">
                    <label for="foodFat">Fette:</label>
                    <input type="text" id="foodFat" placeholder="Fette">
                    <label for="foodCarbs">Kohlenhydrate:</label>
                    <input type="text" id="foodCarbs" placeholder="Kohlenhydrate">
                    <label for="foodProtein">Proteine:</label>
                    <input type="text" id="foodProtein" placeholder="Proteine">
                </div>
                <button class="button" onclick="addFood()">Hinzufügen</button>
            </div>
        </div>

        <div id="breakfast" class="section">
            <h3>Frühstück</h3>
            <ul id="FrühstückListe" class="foodList"></ul>
            <button class="button" onclick="toggleInput('Frühstück')">Frühstück hinzufügen</button>
        </div>

        <div id="lunch" class="section">
            <h3>Mittagessen</h3>
            <ul id="MittagessenListe" class="foodList"></ul>
            <button class="button" onclick="toggleInput('Mittagessen')">Mittagessen hinzufügen</button>
        </div>

        <div id="dinner" class="section">
            <h3>Abendessen</h3>
            <ul id="AbendessenListe" class="foodList"></ul>
            <button class="button" onclick="toggleInput('Abendessen')">Abendessen hinzufügen</button>
        </div>

        <div id="snacks" class="section">
            <h3>Snacks</h3>
            <ul id="SnacksListe" class="foodList"></ul>
            <button class="button" onclick="toggleInput('Snacks')">Snacks hinzufügen</button>
        </div>
    </div>
</body>
