@{
    ViewData["Title"] = "Food Journal";
}
<link rel="stylesheet" href="~/css/foodJournal.css"/>

<header>
    <h2>Mein Food Journal</h2>
</header>
<div class="flex-container">
    <div class="day-selector">
        <button class="daySwitcherButton" onclick="showPreviousDay()">Vorheriger Tag</button>
        <span id="currentDate"></span>
        <button class="daySwitcherButton" onclick="showNextDay()">Nächster Tag</button>
    </div>
    <div id="breakfast" class="section">
        <h3>Frühstück - {kcal, Macronährstoffe ...}</h3>
        <ul id="breakfastList" class="foodList">
            <li>Müsli mit Obst</li>
            <li>Orangensaft</li>
            <!-- Hier kommen die Frühstücksdetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput('breakfast')">Frühstück Hinzufügen</button>
        <div id="breakfastInputContainer" class="input-container">
            <input type="text" id="breakfastInput" placeholder="Frühstück eingeben...">
            <button onclick="addFood('breakfast')">Hinzufügen</button>
        </div>
    </div>

    <div id="lunch" class="section">
        <h3>Mittagessen - {kcal, Macronährstoffe ...}</h3>
        <ul id="lunchList" class="foodList">
            <li>Hühnchen mit Reis</li>
            <!-- Hier kommen die Mittagessendetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput('lunch')">Mittagessen Hinzufügen</button>
        <div id="lunchInputContainer" class="input-container">
            <input type="text" id="lunchInput" placeholder="Mittagessen eingeben...">
            <button onclick="addFood('lunch')">Hinzufügen</button>
        </div>
    </div>

    <div id="dinner" class="section">
        <h3>Abendessen - {kcal, Macronährstoffe ...}</h3>
        <ul id="dinnerList" class="foodList">
            <li>Spaghetti Bolognese</li>
            <!-- Hier kommen die Abendessendetails für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput('dinner')">Abendessen Hinzufügen</button>
        <div id="dinnerInputContainer" class="input-container">
            <input type="text" id="dinnerInput" placeholder="Abendessen eingeben...">
            <button onclick="addFood('dinner')">Hinzufügen</button>
        </div>
    </div>

    <div id="snacks" class="section">
        <h3>Snacks - {kcal, Macronährstoffe ...}</h3>
        <ul id="snacksList" class="foodList">
            <li>Erdnüsse</li>
            <!-- Hier kommen die Details zu den Snacks für den ausgewählten Tag -->
        </ul>
        <button class="addFoodBtn" onclick="toggleInput('snacks')">Snacks Hinzufügen</button>
        <div id="snacksInputContainer" class="input-container">
            <input type="text" id="snacksInput" placeholder="Snacks eingeben...">
            <button onclick="addFood('snacks')">Hinzufügen</button>
        </div>
    </div>
</div>



<script src="HealthKeeper\wwwroot\js\foodJournal.js"></script>